.circle-conoce {
  border: 1px solid #fff;
  width: 80vh;
  height: 80vh;
  border-radius: 100%;
  position: relative;
}

.conoce-item {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100%;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  transform: translate3d(40vh, 0, 0) rotate(0);
  transform-origin: calc(-40vh + 5px);
  transition: 1s ease-in-out;

  // &.active > span {
  //   position: absolute;
  //   width: 30px;
  //   height: 30px;
  //   background: rgba(255, 255, 255, 0.4);
  //   border-radius: 100%;
  //   left: -10px;
  //   top: -10px;
  // }
}

.animacion-item {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: translate3d(40vh, 0, 0) rotate(0);
  transform-origin: calc(-40vh + 15px);
  transition: 1s ease-in-out;
}

.label-item {
  position: absolute;
  opacity: 0;
  transition: 1s ease-in-out;
  width: 190px;

  &.active-view {
    opacity: 1;
  }
}

.contenido-conoce-wrapper {
  position: relative;
}

.contenido-conoce {
  position: absolute;
  opacity: 0;
  width: 70%;
  transition: 1s ease-in-out;
  text-align: center;

  &.active {
    opacity: 1;
    transition: 1s ease-in-out;
  }
}

.click-conoce {
  cursor: pointer;
  z-index: 2;
}

@include media-breakpoint-down(md) {
  .circle-conoce {
    width: 60vh;
    height: 60vh;
  }

  .conoce-item {
    transform: translate3d(30vh, 0, 0) rotate(0);
    transform-origin: calc(-30vh + 5px);
  }

  .animacion-item {
    transform: translate3d(30vh, 0, 0) rotate(0);
    transform-origin: calc(-30vh + 15px);
  }
}

@include media-breakpoint-down(sm) {
  .circle-conoce {
    width: 40vh;
    height: 40vh;
  }

  .conoce-item {
    transform: translate3d(20vh, 0, 0) rotate(0);
    transform-origin: calc(-20vh + 5px);
  }

  .animacion-item {
    transform: translate3d(20vh, 0, 0) rotate(0);
    transform-origin: calc(-20vh + 15px);
  }
}
