<div class="circular-ui-container">
	<div class="circular-ui-wrapper">
		<ul class="circular-ui-names">

					<li class="circular-ui-name" data-portrait-index="1">
						<span class="name-wrapper">Aylin</span><span class="name-wrapper name-wrapper--role">Web designer</span>
					</li>

					<li class="circular-ui-name" data-portrait-index="2">
						<span class="name-wrapper">Ben</span><span class="name-wrapper name-wrapper--role">Web design agency</span>
					</li>

					<li class="circular-ui-name" data-portrait-index="3">
						<span class="name-wrapper">Chelsea</span><span class="name-wrapper name-wrapper--role">Branding studio</span>
					</li>

					<li class="circular-ui-name" data-portrait-index="4">
						<span class="name-wrapper">Dave</span><span class="name-wrapper name-wrapper--role">Independent creative</span>
					</li>

					<li class="circular-ui-name" data-portrait-index="5">
						<span class="name-wrapper">Sara</span><span class="name-wrapper name-wrapper--role">Content creator</span>
					</li>

		</ul>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 862 862" style="enable-background:new 0 0 862 862;" xml:space="preserve">
	<g class="circle-path circle-path--background">
		<defs>
			<path id="SVGID_1_" d="M862,0H0v862h862V0z M550.5,31c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5
			S550.5,35.7,550.5,31z M80.5,184c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,188.7,80.5,184z M842.5,431
			c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S842.5,435.7,842.5,431z M80.5,678c0-4.7,3.8-8.5,8.5-8.5
			s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,682.7,80.5,678z M550.5,833c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5
			S550.5,837.7,550.5,833z" />
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_" style="overflow:visible;" />
		</clipPath>
		<circle class="st0" cx="430" cy="432" r="421" clip-path="url(#SVGID_2_)" fill="none" stroke="#000" stroke-width="3" stroke-miterlimit="10"/>
	</g>
	<g class="circle-path circle-path--fill">
		<defs>
			<path id="SVGID_3_" d="M862,0H0v862h862V0z M550.5,31c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5
			S550.5,35.7,550.5,31z M80.5,184c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,188.7,80.5,184z M842.5,431
			c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S842.5,435.7,842.5,431z M80.5,678c0-4.7,3.8-8.5,8.5-8.5
			s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,682.7,80.5,678z M550.5,833c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5
			S550.5,837.7,550.5,833z" />
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_" style="overflow:visible;"/>
		</clipPath>
		<circle class="st1" cx="430" cy="432" r="421" clip-path="url(#SVGID_4_)" fill="none" stroke="#000" stroke-width="3" stroke-miterlimit="10" />
	</g>
	<g class="circle-dot" data-portrait-index="1">
		<circle class="circle-outside" cx="559" cy="833" r="7.5" />
		<circle class="circle-center" cx="559" cy="833" r="4" />
	</g>
	<g class="circle-dot" data-portrait-index="2">
		<circle class="circle-outside" cx="89" cy="678" r="7.5" />
		<circle class="circle-center" cx="89" cy="678" r="4" />
	</g>
	<g class="circle-dot" data-portrait-index="3">
		<circle class="circle-outside" cx="89" cy="184" r="7.5" />
		<circle class="circle-center" cx="89" cy="184" r="4" />
	</g>
	<g class="circle-dot" data-portrait-index="4">
		<circle class="circle-outside" cx="559" cy="31" r="7.5" />
		<circle class="circle-center" cx="559" cy="31" r="4" />
	</g>
	<g class="circle-dot" data-portrait-index="5">
		<circle class="circle-outside" cx="851" cy="431" r="7.5" />
		<circle class="circle-center" cx="851" cy="431" r="4" />
	</g>
</svg>
	</div>
</div>
