.content-info {
  //min-height: 70vh;
}

.nav-copyrigths {
  border-top: 1px solid #6582af;
  padding: 65px 0;

  p {
    margin: 0;
  }
}

.footer-form {
  input {
    background: none;
    border: none;
    padding: 10px 0 10px 30px;
    position: relative;
    border-bottom: 2px solid #fff;
    border-radius: 0;
  }

  .form-group {
    position: relative;
    max-width: 320px;
    padding-right: 50px;
  }

  .form-group::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/carta.png') no-repeat center left;
    width: 21px;
    height: 100%;
  }
}

ul.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  li > a {
    font-family: 'AvenirLTStd-Medium', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #fff;
  }

  li.current_page_item > a {
    font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  }
}

.footer-nav {
  padding: 100px 0 100px;
}

.politicas {
  font-family: 'AvenirLTStd-Medium', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.terminos-links {
  margin-left: 30px;
}

@media (max-width: 1280px) {
  ul.footer-nav {
    li > a {
      font-size: 13px;
    }
  }

  .politicas {
    font-size: 13px;
  }
}

@include media-breakpoint-down(sm) {
  .newsletter {
    margin-top: 20px;
  }

  .politicas {
    margin-top: 20px;
  }
}

@include media-breakpoint-down(xs) {
  .politicas {
    font-size: 12px;
  }
}
