.brand {
  display: inline-block;
  position: relative;
}

.black-logo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.white-logo {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.menu-wrapper {
  padding: 50px 0;
  transition: 1s all ease;
}

.banner .nav a {
  @extend .nav-link;
  //falla del compilador
  font-family: 'AvenirLTStd-Medium', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #fff;
}

.banner .nav.current-menu-item a {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
}

.banner {
  .navbar {
    padding: 0;
  }
}

.banner.fijo {
  //background-color: #fff;
  //border-bottom: 1px solid #6582af;

  // .black-logo {
  //   opacity: 1;
  //   -webkit-transition: opacity 0.5s ease-in-out;
  //   -moz-transition: opacity 0.5s ease-in-out;
  //   -ms-transition: opacity 0.5s ease-in-out;
  //   -o-transition: opacity 0.5s ease-in-out;
  //   transition: opacity 0.5s ease-in-out;
  // }
  //
  // .white-logo {
  //   opacity: 0;
  //   -webkit-transition: opacity 0.5s ease-in-out;
  //   -moz-transition: opacity 0.5s ease-in-out;
  //   -ms-transition: opacity 0.5s ease-in-out;
  //   -o-transition: opacity 0.5s ease-in-out;
  //   transition: opacity 0.5s ease-in-out;
  // }

  .menu-wrapper {
    padding: 25px 0;
    transition: 1s all ease;
  }

  .navbar {
    position: relative;
    height: 39px;
    padding-right: 45px;
  }

  button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 5px;
  }

  // .show {
  //   .nav {
  //     padding: 0 0 0;
  //
  //     a {
  //       color: #000;
  //     }
  //   }
  // }
}

.navbar-custom .navbar-toggler-icon {
  background: url('../images/hamburger.svg') no-repeat;
  width: 23px;
  height: 20px;
}

.banner .nav li {
  @extend .nav-item;
}

@include media-breakpoint-down(md) {
  .banner {
    // background-color: #fff;
    //
    // .black-logo {
    //   opacity: 1;
    // }
    //
    // .white-logo {
    //   opacity: 0;
    // }

    .menu-wrapper {
      padding: 20px 0;
    }

    .show {
      .nav {
        padding: 0 0 0;

        // a {
        //   color: #000;
        // }
      }
    }
  }

  .banner.fijo {
    .navbar {
      position: relative;
      height: auto;
      padding-right: 0;
    }

    button.navbar-toggler {
      position: static;
    }
  }
}

@media (max-width: 1280px) {
  .menu-wrapper {
    padding: 25px 0;
  }
}

@include media-breakpoint-down(xs) {
  .banner .nav a {
    font-size: 12px;
  }
}
