section.blog-cat-menu {
  background: #fff;
  box-shadow: 0 5px 25px 1px #060606;
  padding: 40px 0;

  ul.cat-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    li.cat-nav-item {
      border-left: 1px solid #ddd;
      padding-left: 30px;

      > a {
        font-size: 16px;
        color: #303030;
      }

      > a:hover,
      > a:focus {
        color: #ddd;
        text-decoration: none;
      }

      &:first-of-type {
        border-left: none;
        padding-left: 0;
      }
    }
  }
}

.blog-page-wrapper {
  margin: 140px 0 200px;

  .load-more-blog-wrapper {
    margin-top: 80px;
    text-align: center;
  }

  a.a-btn.load-more-blog {
    color: #000;
    border: 3px solid #000;
  }
}

.blog-card {
  color: #000;
  padding: 15px 15px 20px 15px;
  margin: 15px 0;
  height: 400px;
  cursor: pointer;

  .blog-card-info {
    margin-top: 10px;
    overflow-x: scroll;
  }

  a.btn {
    display: inline-block;
  }

  .blog-card-cat > span {
    color: #fff;
    padding: 4px 9px;
    border-radius: 8px;
  }

  &.blog-cat-categoria-1 {
    .blog-card-cat > span {
      background: #372b79;
    }
  }

  &.blog-cat-categoria-2 {
    .blog-card-cat > span {
      background: #42a9ac;
    }
  }

  &.blog-cat-categoria-3 {
    .blog-card-cat > span {
      background: #d4809c;
    }
  }

  &.blog-cat-categoria-4 {
    .blog-card-cat > span {
      background: #a0cece;
    }
  }

  &.blog-card-simple {
    .blog-card-thumb {
      height: 200px;
      margin-top: 10px;
    }

    .blog-card-info {
      height: 120px;
    }
  }

  &.blog-card-wide {
    .blog-card-info {
      padding-top: 50px;
      height: 330px;
    }
  }

  &.blog-card-bg {
    color: #fff;

    .blog-card-info {
      height: 270px;
      margin-bottom: 20px;
    }

    .blog-card-title {
      margin: 50px 0;
    }
  }

  &.shadow {
    box-shadow: 4px 4px 11px -1px #060606;
  }
}

.accordion-Sweet {
  div#accordionSweet {
    background: transparent;
  }

  .card {
    background: transparent;
    border: none;

    .card-header {
      border: none;
      background: transparent;
      padding: 30px 0;

      h4 {
        background: none;
        padding: 0;
        margin: 0;
        line-height: 1;
        color: #fff;
      }

      button.btn.btn-link {
        padding: 0;
        color: #fff;
        width: 100%;
        text-align: left;
        position: relative;

        &::after {
          content: '-';
          position: absolute;
          color: #000;
          background: #fff;
          padding: 0;
          right: 0;
          top: calc(50% - 13px);
          height: 26px;
          width: 26px;
          line-height: 26px;
          font-size: 16px;
          text-align: center;
          vertical-align: middle;
        }

        &.collapsed::after {
          content: '+';
        }
      }
    }

    .card-body {
      padding: 60px 70px;
      background: rgba(255, 255, 255, 0.1);
      border-left: 2px solid #fff;
    }
  }
}

.items-list-sweet {
  margin-top: 50px;
  padding-top: 60px;
  border-top: 1px solid #fff;

  .item-content {
    padding: 0 15px;
  }

  .item-image {
    min-width: 100px;
  }
}

.contacto {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }

  input.wpcf7-form-control,
  textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 20px 0;
    padding: 22px 30px 18px 40px;
    line-height: 1;
    color: #fff;
  }

  textarea.wpcf7-form-control.wpcf7-textarea {
    resize: none;
  }

  .direccion {
    max-width: 370px;
    margin: 0 auto;
  }

  input.wpcf7-form-control.wpcf7-submit {
    padding: 5px 40px;
    border-radius: 17.5px;
    border: solid 3px #fff;
    font-family: sailec-bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #fff;
    background: none;
    width: auto;
    float: right;
    cursor: pointer;
  }

  input.e-mail {
    background-image: url('../images/carta.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  input.nombre-apellido {
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  input.compania {
    background-image: url('../images/compania.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  textarea.wpcf7-form-control.wpcf7-textarea.mensaje {
    background-image: url('../images/mensaje.png');
    background-repeat: no-repeat;
    background-position: 10px 18px;
  }

  .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    border: none;
    position: absolute;
    bottom: 8px;
    left: 0;
  }

  span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
    position: absolute;
    right: 0;
    bottom: calc(50% - 10px);
  }

  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }
}

@media (max-width: 1280px) {
  .items-list-sweet {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }

  .contacto input.wpcf7-form-control,
  .contacto textarea.wpcf7-form-control.wpcf7-textarea {
    margin: 10px 0;
  }

  .contacto textarea.wpcf7-form-control.wpcf7-textarea.mensaje {
    height: 120px;
  }
}

@include media-breakpoint-down(md) {
  .items-list-sweet {
    .item-image {
      min-width: 20%;
    }
  }
}
