.entry-content {
  color: #000;
  padding: 65px 0;
}

.entry-title {
  margin: 130px 0;
}

.updated {
  position: relative;
  font-size: 16px;
  padding-left: 25px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25px;
    background: url('../images/reloj.svg') no-repeat center left;
    background-size: contain;
  }
}

.silgle-blog {
  a.post-cat-link {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 6px;
    padding: 7px 10px 5px;
    line-height: 1;
  }

  .norm_row.sfsi_wDiv {
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .fb-comments-blog {
    border-top: 1px solid #efefef;
    margin: 100px 0;
    padding-top: 50px;

    .fb-comments {
      width: 100% !important;
    }

    .fb-comments iframe[style] {
      width: 100% !important;
    }

    .fb-like-box {
      width: 100% !important;
    }

    .fb-like-box iframe[style] {
      width: 100% !important;
    }

    .fb-comments span {
      width: 100% !important;
    }

    .fb-comments iframe span[style] {
      width: 100% !important;
    }

    .fb-like-box span {
      width: 100% !important;
    }

    .fb-like-box iframe span[style] {
      width: 100% !important;
    }
  }
}

.post-populares {
  padding: 100px 0;

  .background-white {
    background: rgba(255, 255, 255, 0.3);
  }

  .blog-card {
    color: #fff;
  }

  .wrap-popular-post-cards {
    margin-top: 65px;
  }
}

.comments {
  color: #000;

  .comment {
    margin-bottom: 30px;
  }

  h3#reply-title {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    margin-bottom: 25px;
    padding-bottom: 30px;
  }

  textarea#comment {
    resize: none;
    background: #eee;
    border-radius: 10px;
  }

  p.form-submit {
    text-align: right;
    margin-top: 22px;

    input#submit {
      background: none;
      color: #000;
      border: 2px solid #f5f5f5;
      text-transform: uppercase;
      border-radius: 19px;
      line-height: 1;
      padding: 10px 15px;
    }
  }

  .comments-headers {
    border-bottom: 1px solid #efefef;
    padding: 0  0 38px;
    margin-bottom: 30px;
    position: relative;

    a#comment-anchor {
      position: absolute;
      right: 0;
      top: -15px;
    }

    h4 {
      margin-bottom: 0;
      font-size: 35px;
    }

    span.comments-count {
      background: #1f79ed;
      color: #fff;
      padding: 5px 16px;
      border-radius: 30px;
      font-size: 12px;
      line-height: 1;
      vertical-align: middle;
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  .comment-meta-item {
    margin-left: 40px;
  }

  h6.comment-author {
    margin-bottom: 0;
  }

  a.comment-author-link,
  a.comment-edit-link,
  a.comment-reply-link,
  .logged-in-as a {
    color: #000;
  }

  p.comment-meta-item {
    margin-bottom: 0;
  }

  .comment-content.post-content {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #757575;

    p {
      margin-bottom: 0;
    }
  }

  figure.gravatar {
    margin-right: 25px;
  }

  .time-bg {
    background: url('../images/clock.png') no-repeat center left;
    padding-left: 25px;
    background-size: contain;
  }

  .comment-reply-link {
    background: url('../images/reply.png') no-repeat center left;
    margin-top: 25px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 30px;
    background-size: contain;
  }
}
