@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Sailec';
  src: url('../fonts/sailec-webfont.woff2') format('woff2'), url('../fonts/sailec-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sailec-bold';
  src: url('../fonts/sailec-bold-webfont.woff2') format('woff2'), url('../fonts/sailec-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/AvenirLTStd-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('../fonts/AvenirLTStd-Heavy.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'), url('../fonts/AvenirLTStd-Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Black.woff') format('woff'), url('../fonts/AvenirLTStd-Black.ttf') format('truetype'), url('../fonts/AvenirLTStd-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body.app {
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  background: #fff;
}

.section-item {
  //height: 100vh;
  background: #fff;
  width: 100% !important;
}

.section-conoce {
  //height: 100vh;
  background: #fff;
  width: 100% !important;
}

.scrollmagic-pin-spacer {
  .section-item.wait {
    padding-bottom: 100vh;
  }

  .section-conoce.wait {
    padding-bottom: 100vh;
  }
}

h1 {
  font-family: 'AvenirLTStd-Medium', Arial, sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  //color: #fff;
}

h2 {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
}

h3 {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: normal;
}

h4 {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.36;
  letter-spacing: normal;
  //color: #fff;
}

h5 {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  font-size: 18px;
}

h6 {
  font-family: 'AvenirLTStd-Black', Arial, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 30px;
  line-height: 1;
}

.contenido-derecha {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 20px;
    line-height: 1;
  }
}

p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}

.underline-middle {
  position: relative;
  padding-bottom: 10px;

  &::before {
    position: absolute;
    content: '';
    left: 44%;
    bottom: 0;
    width: 16%;
    height: 2px;
    border-bottom: 2px solid #fff;
  }
}

.font-heavy {
  font-family: 'AvenirLTStd-Heavy', Arial, sans-serif;
}

.carousel-indicators {
  bottom: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  border-radius: 10px;
  background: none;
}

#carousel-el-equipo h2,
.titulo-subrayado {
  position: relative;
  padding: 0 0 20px;
  line-height: 1;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    left: 0;
    border-bottom: 2px solid;
    bottom: 0;
  }
}

.dots {
  position: absolute;
  width: 8vw;
  height: 8vw;

  .inner-dot-outsie {
    width: 100%;
    height: 100%;
    background: #97e3f8;
    opacity: 0.2;
    border-radius: 100%;
  }

  .inner-dot-middle {
    width: 50%;
    height: 50%;
    background: #97e3f8;
    opacity: 0.3;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .inner-dot-inside {
    width: 12%;
    height: 12%;
    background: #97e3f8;
    opacity: 1;
    border-radius: 100%;
    position: absolute;
    top: 44%;
    left: 44%;
  }
}

.dots-2 {
  position: absolute;
  width: 11.2vw;
  height: 11.2vw;

  .inner-dot-outsie {
    width: 100%;
    height: 100%;
    background: #97e3f8;
    opacity: 0.2;
    border-radius: 100%;
  }

  .inner-dot-middle-1 {
    width: 75%;
    height: 75%;
    background: #97e3f8;
    opacity: 0.3;
    border-radius: 100%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
  }

  .inner-dot-middle-2 {
    width: 50%;
    height: 50%;
    background: #97e3f8;
    opacity: 0.4;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .inner-dot-inside {
    width: 12%;
    height: 12%;
    background: #97e3f8;
    opacity: 1;
    border-radius: 100%;
    position: absolute;
    top: 44%;
    left: 44%;
  }
}

.Rectangle-3 {
  background-image: linear-gradient(298deg, #5659bc, #312a8d);
}

.Fondo {
  background: rgba(86, 90, 188, 1);
  background: -moz-linear-gradient(left, rgba(86, 90, 188, 1) 0%, rgba(86, 90, 188, 0.78) 30%, rgba(53, 47, 146, 0.31) 92%, rgba(49, 42, 141, 0.31) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86, 90, 188, 1)), color-stop(30%, rgba(86, 90, 188, 0.78)), color-stop(92%, rgba(53, 47, 146, 0.31)), color-stop(100%, rgba(49, 42, 141, 0.31)));
  background: -webkit-linear-gradient(left, rgba(86, 90, 188, 1) 0%, rgba(86, 90, 188, 0.78) 30%, rgba(53, 47, 146, 0.31) 92%, rgba(49, 42, 141, 0.31) 100%);
  background: -o-linear-gradient(left, rgba(86, 90, 188, 1) 0%, rgba(86, 90, 188, 0.78) 30%, rgba(53, 47, 146, 0.31) 92%, rgba(49, 42, 141, 0.31) 100%);
  background: -ms-linear-gradient(left, rgba(86, 90, 188, 1) 0%, rgba(86, 90, 188, 0.78) 30%, rgba(53, 47, 146, 0.31) 92%, rgba(49, 42, 141, 0.31) 100%);
  background: linear-gradient(to right, rgba(86, 90, 188, 1) 0%, rgba(86, 90, 188, 0.78) 30%, rgba(53, 47, 146, 0.31) 92%, rgba(49, 42, 141, 0.31) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#565abc', endColorstr='#312a8d', GradientType=1);
}

.Fondo-op2 {
  background: rgba(60, 29, 200, 1);
  background: -moz-linear-gradient(left, rgba(60, 29, 200, 1) 0%, rgba(60, 29, 200, 0.99) 45%, rgba(65, 38, 145, 0.32) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60, 29, 200, 1)), color-stop(45%, rgba(60, 29, 200, 0.99)), color-stop(100%, rgba(65, 38, 145, 0.32)));
  background: -webkit-linear-gradient(left, rgba(60, 29, 200, 1) 0%, rgba(60, 29, 200, 0.99) 45%, rgba(65, 38, 145, 0.32) 100%);
  background: -o-linear-gradient(left, rgba(60, 29, 200, 1) 0%, rgba(60, 29, 200, 0.99) 45%, rgba(65, 38, 145, 0.32) 100%);
  background: -ms-linear-gradient(left, rgba(60, 29, 200, 1) 0%, rgba(60, 29, 200, 0.99) 45%, rgba(65, 38, 145, 0.32) 100%);
  background: linear-gradient(to right, rgba(60, 29, 200, 1) 0%, rgba(60, 29, 200, 0.99) 45%, rgba(65, 38, 145, 0.32) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3c1dc8', endColorstr='#412691', GradientType=1);

  //linear-gradient(to right, #3c1dc8 0%, rgba(60, 29, 200, 1) 45%, rgba(65, 38, 145, 0.32) 100%)
}

.Fondo-old {
  opacity: 0.95;
  background-image: conic-gradient(#3c2d82 64%, #5246b2, #2c196a 27%, #3c2d82 64%);
}

.Fondo-1 {
  background-image: linear-gradient(298deg, #5659bc, #312a8d);
}

.fondo-solido {
  background-color: #342989;
}

.gradiente-1 {
  background: rgba(67, 173, 173, 1);
  background: -moz-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(59, 151, 169, 1) 44%, rgba(51, 129, 165, 1) 55%, rgba(46, 115, 164, 1) 71%, rgba(42, 106, 162, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67, 173, 173, 1)), color-stop(44%, rgba(59, 151, 169, 1)), color-stop(55%, rgba(51, 129, 165, 1)), color-stop(71%, rgba(46, 115, 164, 1)), color-stop(100%, rgba(42, 106, 162, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(59, 151, 169, 1) 44%, rgba(51, 129, 165, 1) 55%, rgba(46, 115, 164, 1) 71%, rgba(42, 106, 162, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(59, 151, 169, 1) 44%, rgba(51, 129, 165, 1) 55%, rgba(46, 115, 164, 1) 71%, rgba(42, 106, 162, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(59, 151, 169, 1) 44%, rgba(51, 129, 165, 1) 55%, rgba(46, 115, 164, 1) 71%, rgba(42, 106, 162, 1) 100%);
  background: linear-gradient(135deg, rgba(67, 173, 173, 1) 0%, rgba(59, 151, 169, 1) 44%, rgba(51, 129, 165, 1) 55%, rgba(46, 115, 164, 1) 71%, rgba(42, 106, 162, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#43adad', endColorstr='#2a6aa2', GradientType=1);
}

// .gradiente-2 {
//   background: rgba(91, 48, 233, 1);
//   background: -moz-linear-gradient(-45deg, rgba(91, 48, 233, 1) 0%, rgba(158, 121, 212, 1) 44%, rgba(204, 167, 217, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(234, 185, 198, 1) 100%);
//   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91, 48, 233, 1)), color-stop(44%, rgba(158, 121, 212, 1)), color-stop(55%, rgba(204, 167, 217, 1)), color-stop(71%, rgba(220, 181, 212, 1)), color-stop(100%, rgba(234, 185, 198, 1)));
//   background: -webkit-linear-gradient(-45deg, rgba(91, 48, 233, 1) 0%, rgba(158, 121, 212, 1) 44%, rgba(204, 167, 217, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(234, 185, 198, 1) 100%);
//   background: -o-linear-gradient(-45deg, rgba(91, 48, 233, 1) 0%, rgba(158, 121, 212, 1) 44%, rgba(204, 167, 217, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(234, 185, 198, 1) 100%);
//   background: -ms-linear-gradient(-45deg, rgba(91, 48, 233, 1) 0%, rgba(158, 121, 212, 1) 44%, rgba(204, 167, 217, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(234, 185, 198, 1) 100%);
//   background: linear-gradient(135deg, rgba(91, 48, 233, 1) 0%, rgba(158, 121, 212, 1) 44%, rgba(204, 167, 217, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(234, 185, 198, 1) 100%);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5b30e9', endColorstr='#eab9c6', GradientType=1);
// }

.gradiente-2 {
  background: rgba(54, 34, 119, 1);
  background: -moz-linear-gradient(-45deg, rgba(54, 34, 119, 1) 0%, rgba(103, 65, 153, 1) 25%, rgba(132, 76, 170, 1) 50%, rgba(141, 62, 170, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54, 34, 119, 1)), color-stop(25%, rgba(103, 65, 153, 1)), color-stop(50%, rgba(132, 76, 170, 1)), color-stop(75%, rgba(141, 62, 170, 1)), color-stop(100%, rgba(133, 51, 160, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(54, 34, 119, 1) 0%, rgba(103, 65, 153, 1) 25%, rgba(132, 76, 170, 1) 50%, rgba(141, 62, 170, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(54, 34, 119, 1) 0%, rgba(103, 65, 153, 1) 25%, rgba(132, 76, 170, 1) 50%, rgba(141, 62, 170, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(54, 34, 119, 1) 0%, rgba(103, 65, 153, 1) 25%, rgba(132, 76, 170, 1) 50%, rgba(141, 62, 170, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: linear-gradient(135deg, rgba(54, 34, 119, 1) 0%, rgba(103, 65, 153, 1) 25%, rgba(132, 76, 170, 1) 50%, rgba(141, 62, 170, 1) 75%, rgba(133, 51, 160, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#362277', endColorstr='#8533a0', GradientType=1);
}

.gradiente-3 {
  background: rgba(110, 40, 81, 1);
  background: -moz-linear-gradient(45deg, rgba(110, 40, 81, 1) 0%, rgba(184, 101, 137, 1) 44%, rgba(216, 145, 159, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(248, 231, 214, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(110, 40, 81, 1)), color-stop(44%, rgba(184, 101, 137, 1)), color-stop(55%, rgba(216, 145, 159, 1)), color-stop(71%, rgba(220, 181, 212, 1)), color-stop(100%, rgba(248, 231, 214, 1)));
  background: -webkit-linear-gradient(45deg, rgba(110, 40, 81, 1) 0%, rgba(184, 101, 137, 1) 44%, rgba(216, 145, 159, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(248, 231, 214, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(110, 40, 81, 1) 0%, rgba(184, 101, 137, 1) 44%, rgba(216, 145, 159, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(248, 231, 214, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(110, 40, 81, 1) 0%, rgba(184, 101, 137, 1) 44%, rgba(216, 145, 159, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(248, 231, 214, 1) 100%);
  background: linear-gradient(45deg, rgba(110, 40, 81, 1) 0%, rgba(184, 101, 137, 1) 44%, rgba(216, 145, 159, 1) 55%, rgba(220, 181, 212, 1) 71%, rgba(248, 231, 214, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6e2851', endColorstr='#f8e7d6', GradientType=1);
}

// .gradiente-4 {
//   background: rgba(61, 110, 158, 1);
//   background: -moz-linear-gradient(left, rgba(61, 110, 158, 1) 0%, rgba(63, 105, 157, 1) 44%, rgba(61, 86, 148, 1) 55%, rgba(60, 71, 144, 1) 71%, rgba(59, 37, 126, 1) 100%);
//   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61, 110, 158, 1)), color-stop(44%, rgba(63, 105, 157, 1)), color-stop(55%, rgba(61, 86, 148, 1)), color-stop(71%, rgba(60, 71, 144, 1)), color-stop(100%, rgba(59, 37, 126, 1)));
//   background: -webkit-linear-gradient(left, rgba(61, 110, 158, 1) 0%, rgba(63, 105, 157, 1) 44%, rgba(61, 86, 148, 1) 55%, rgba(60, 71, 144, 1) 71%, rgba(59, 37, 126, 1) 100%);
//   background: -o-linear-gradient(left, rgba(61, 110, 158, 1) 0%, rgba(63, 105, 157, 1) 44%, rgba(61, 86, 148, 1) 55%, rgba(60, 71, 144, 1) 71%, rgba(59, 37, 126, 1) 100%);
//   background: -ms-linear-gradient(left, rgba(61, 110, 158, 1) 0%, rgba(63, 105, 157, 1) 44%, rgba(61, 86, 148, 1) 55%, rgba(60, 71, 144, 1) 71%, rgba(59, 37, 126, 1) 100%);
//   background: linear-gradient(to right, rgba(61, 110, 158, 1) 0%, rgba(63, 105, 157, 1) 44%, rgba(61, 86, 148, 1) 55%, rgba(60, 71, 144, 1) 71%, rgba(59, 37, 126, 1) 100%);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3d6e9e', endColorstr='#3b257e', GradientType=1);
// }

.gradiente-4 {
  background: rgba(62, 110, 159, 1);
  background: -moz-linear-gradient(left, rgba(62, 110, 159, 1) 0%, rgba(62, 105, 157, 1) 25%, rgba(61, 91, 152, 1) 50%, rgba(61, 75, 144, 1) 75%, rgba(59, 33, 126, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62, 110, 159, 1)), color-stop(25%, rgba(62, 105, 157, 1)), color-stop(50%, rgba(61, 91, 152, 1)), color-stop(75%, rgba(61, 75, 144, 1)), color-stop(100%, rgba(59, 33, 126, 1)));
  background: -webkit-linear-gradient(left, rgba(62, 110, 159, 1) 0%, rgba(62, 105, 157, 1) 25%, rgba(61, 91, 152, 1) 50%, rgba(61, 75, 144, 1) 75%, rgba(59, 33, 126, 1) 100%);
  background: -o-linear-gradient(left, rgba(62, 110, 159, 1) 0%, rgba(62, 105, 157, 1) 25%, rgba(61, 91, 152, 1) 50%, rgba(61, 75, 144, 1) 75%, rgba(59, 33, 126, 1) 100%);
  background: -ms-linear-gradient(left, rgba(62, 110, 159, 1) 0%, rgba(62, 105, 157, 1) 25%, rgba(61, 91, 152, 1) 50%, rgba(61, 75, 144, 1) 75%, rgba(59, 33, 126, 1) 100%);
  background: linear-gradient(to right, rgba(62, 110, 159, 1) 0%, rgba(62, 105, 157, 1) 25%, rgba(61, 91, 152, 1) 50%, rgba(61, 75, 144, 1) 75%, rgba(59, 33, 126, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3e6e9f', endColorstr='#3b217e', GradientType=1);
}

// .gradiente-5 {
//   background: rgba(40, 105, 149, 1);
//   background: -moz-linear-gradient(45deg, rgba(40, 105, 149, 1) 0%, rgba(79, 146, 180, 0.87) 44%, rgba(104, 165, 196, 0.84) 55%, rgba(131, 188, 214, 0.79) 71%, rgba(164, 217, 237, 0.7) 100%);
//   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(40, 105, 149, 1)), color-stop(44%, rgba(79, 146, 180, 0.87)), color-stop(55%, rgba(104, 165, 196, 0.84)), color-stop(71%, rgba(131, 188, 214, 0.79)), color-stop(100%, rgba(164, 217, 237, 0.7)));
//   background: -webkit-linear-gradient(45deg, rgba(40, 105, 149, 1) 0%, rgba(79, 146, 180, 0.87) 44%, rgba(104, 165, 196, 0.84) 55%, rgba(131, 188, 214, 0.79) 71%, rgba(164, 217, 237, 0.7) 100%);
//   background: -o-linear-gradient(45deg, rgba(40, 105, 149, 1) 0%, rgba(79, 146, 180, 0.87) 44%, rgba(104, 165, 196, 0.84) 55%, rgba(131, 188, 214, 0.79) 71%, rgba(164, 217, 237, 0.7) 100%);
//   background: -ms-linear-gradient(45deg, rgba(40, 105, 149, 1) 0%, rgba(79, 146, 180, 0.87) 44%, rgba(104, 165, 196, 0.84) 55%, rgba(131, 188, 214, 0.79) 71%, rgba(164, 217, 237, 0.7) 100%);
//   background: linear-gradient(45deg, rgba(40, 105, 149, 1) 0%, rgba(79, 146, 180, 0.87) 44%, rgba(104, 165, 196, 0.84) 55%, rgba(131, 188, 214, 0.79) 71%, rgba(164, 217, 237, 0.7) 100%);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#286995', endColorstr='#a4d9ed', GradientType=1);
// }

.gradiente-5 {
  background: rgba(35, 100, 144, 1);
  background: -moz-linear-gradient(45deg, rgba(35, 100, 144, 1) 0%, rgba(87, 153, 188, 0.87) 25%, rgba(107, 168, 199, 0.84) 50%, rgba(145, 195, 218, 0.79) 75%, rgba(162, 214, 235, 0.7) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35, 100, 144, 1)), color-stop(25%, rgba(87, 153, 188, 0.87)), color-stop(50%, rgba(107, 168, 199, 0.84)), color-stop(75%, rgba(145, 195, 218, 0.79)), color-stop(100%, rgba(162, 214, 235, 0.7)));
  background: -webkit-linear-gradient(45deg, rgba(35, 100, 144, 1) 0%, rgba(87, 153, 188, 0.87) 25%, rgba(107, 168, 199, 0.84) 50%, rgba(145, 195, 218, 0.79) 75%, rgba(162, 214, 235, 0.7) 100%);
  background: -o-linear-gradient(45deg, rgba(35, 100, 144, 1) 0%, rgba(87, 153, 188, 0.87) 25%, rgba(107, 168, 199, 0.84) 50%, rgba(145, 195, 218, 0.79) 75%, rgba(162, 214, 235, 0.7) 100%);
  background: -ms-linear-gradient(45deg, rgba(35, 100, 144, 1) 0%, rgba(87, 153, 188, 0.87) 25%, rgba(107, 168, 199, 0.84) 50%, rgba(145, 195, 218, 0.79) 75%, rgba(162, 214, 235, 0.7) 100%);
  background: linear-gradient(45deg, rgba(35, 100, 144, 1) 0%, rgba(87, 153, 188, 0.87) 25%, rgba(107, 168, 199, 0.84) 50%, rgba(145, 195, 218, 0.79) 75%, rgba(162, 214, 235, 0.7) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#236490', endColorstr='#a2d6eb', GradientType=1);
}

.gradiente-6 {
  background: rgba(103, 141, 179, 1);
  background: -moz-linear-gradient(left, rgba(103, 141, 179, 1) 0%, rgba(103, 134, 177, 1) 44%, rgba(102, 125, 172, 1) 55%, rgba(102, 117, 169, 1) 71%, rgba(101, 78, 152, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(103, 141, 179, 1)), color-stop(44%, rgba(103, 134, 177, 1)), color-stop(55%, rgba(102, 125, 172, 1)), color-stop(71%, rgba(102, 117, 169, 1)), color-stop(100%, rgba(101, 78, 152, 1)));
  background: -webkit-linear-gradient(left, rgba(103, 141, 179, 1) 0%, rgba(103, 134, 177, 1) 44%, rgba(102, 125, 172, 1) 55%, rgba(102, 117, 169, 1) 71%, rgba(101, 78, 152, 1) 100%);
  background: -o-linear-gradient(left, rgba(103, 141, 179, 1) 0%, rgba(103, 134, 177, 1) 44%, rgba(102, 125, 172, 1) 55%, rgba(102, 117, 169, 1) 71%, rgba(101, 78, 152, 1) 100%);
  background: -ms-linear-gradient(left, rgba(103, 141, 179, 1) 0%, rgba(103, 134, 177, 1) 44%, rgba(102, 125, 172, 1) 55%, rgba(102, 117, 169, 1) 71%, rgba(101, 78, 152, 1) 100%);
  background: linear-gradient(to right, rgba(103, 141, 179, 1) 0%, rgba(103, 134, 177, 1) 44%, rgba(102, 125, 172, 1) 55%, rgba(102, 117, 169, 1) 71%, rgba(101, 78, 152, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#678db3', endColorstr='#654e98', GradientType=1);
}

// .gradiente-7 {
//   background: rgba(70, 116, 195, 1);
//   background: -moz-linear-gradient(45deg, rgba(70, 116, 195, 1) 0%, rgba(104, 150, 209, 1) 16%, rgba(166, 210, 230, 1) 42%, rgba(174, 208, 231, 1) 58%, rgba(223, 195, 238, 1) 100%);
//   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(70, 116, 195, 1)), color-stop(16%, rgba(104, 150, 209, 1)), color-stop(42%, rgba(166, 210, 230, 1)), color-stop(58%, rgba(174, 208, 231, 1)), color-stop(100%, rgba(223, 195, 238, 1)));
//   background: -webkit-linear-gradient(45deg, rgba(70, 116, 195, 1) 0%, rgba(104, 150, 209, 1) 16%, rgba(166, 210, 230, 1) 42%, rgba(174, 208, 231, 1) 58%, rgba(223, 195, 238, 1) 100%);
//   background: -o-linear-gradient(45deg, rgba(70, 116, 195, 1) 0%, rgba(104, 150, 209, 1) 16%, rgba(166, 210, 230, 1) 42%, rgba(174, 208, 231, 1) 58%, rgba(223, 195, 238, 1) 100%);
//   background: -ms-linear-gradient(45deg, rgba(70, 116, 195, 1) 0%, rgba(104, 150, 209, 1) 16%, rgba(166, 210, 230, 1) 42%, rgba(174, 208, 231, 1) 58%, rgba(223, 195, 238, 1) 100%);
//   background: linear-gradient(45deg, rgba(70, 116, 195, 1) 0%, rgba(104, 150, 209, 1) 16%, rgba(166, 210, 230, 1) 42%, rgba(174, 208, 231, 1) 58%, rgba(223, 195, 238, 1) 100%);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4674c3', endColorstr='#dfc3ee', GradientType=1);
// }

.gradiente-7 {
  background: rgba(65, 62, 125, 1);
  background: -moz-linear-gradient(45deg, rgba(65, 62, 125, 1) 0%, rgba(114, 113, 175, 1) 25%, rgba(130, 115, 183, 1) 50%, rgba(146, 100, 183, 1) 75%, rgba(129, 67, 165, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(65, 62, 125, 1)), color-stop(25%, rgba(114, 113, 175, 1)), color-stop(50%, rgba(130, 115, 183, 1)), color-stop(75%, rgba(146, 100, 183, 1)), color-stop(100%, rgba(129, 67, 165, 1)));
  background: -webkit-linear-gradient(45deg, rgba(65, 62, 125, 1) 0%, rgba(114, 113, 175, 1) 25%, rgba(130, 115, 183, 1) 50%, rgba(146, 100, 183, 1) 75%, rgba(129, 67, 165, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(65, 62, 125, 1) 0%, rgba(114, 113, 175, 1) 25%, rgba(130, 115, 183, 1) 50%, rgba(146, 100, 183, 1) 75%, rgba(129, 67, 165, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(65, 62, 125, 1) 0%, rgba(114, 113, 175, 1) 25%, rgba(130, 115, 183, 1) 50%, rgba(146, 100, 183, 1) 75%, rgba(129, 67, 165, 1) 100%);
  background: linear-gradient(45deg, rgba(65, 62, 125, 1) 0%, rgba(114, 113, 175, 1) 25%, rgba(130, 115, 183, 1) 50%, rgba(146, 100, 183, 1) 75%, rgba(129, 67, 165, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#413e7d', endColorstr='#8143a5', GradientType=1);
}

.gradiente-8 {
  background: rgba(134, 192, 182, 1);
  background: -moz-linear-gradient(45deg, rgba(134, 192, 182, 1) 0%, rgba(145, 181, 210, 1) 30%, rgba(127, 132, 231, 1) 54%, rgba(110, 101, 238, 1) 81%, rgba(87, 79, 235, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(134, 192, 182, 1)), color-stop(30%, rgba(145, 181, 210, 1)), color-stop(54%, rgba(127, 132, 231, 1)), color-stop(81%, rgba(110, 101, 238, 1)), color-stop(100%, rgba(87, 79, 235, 1)));
  background: -webkit-linear-gradient(45deg, rgba(134, 192, 182, 1) 0%, rgba(145, 181, 210, 1) 30%, rgba(127, 132, 231, 1) 54%, rgba(110, 101, 238, 1) 81%, rgba(87, 79, 235, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(134, 192, 182, 1) 0%, rgba(145, 181, 210, 1) 30%, rgba(127, 132, 231, 1) 54%, rgba(110, 101, 238, 1) 81%, rgba(87, 79, 235, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(134, 192, 182, 1) 0%, rgba(145, 181, 210, 1) 30%, rgba(127, 132, 231, 1) 54%, rgba(110, 101, 238, 1) 81%, rgba(87, 79, 235, 1) 100%);
  background: linear-gradient(45deg, rgba(134, 192, 182, 1) 0%, rgba(145, 181, 210, 1) 30%, rgba(127, 132, 231, 1) 54%, rgba(110, 101, 238, 1) 81%, rgba(87, 79, 235, 1) 100%);
  filter: progid:dixmagetransform.microsoft.gradient(startColorstr='#86c0b6', endColorstr='#574feb', GradientType=1);
}

.gradiente-9 {
  background: rgba(11, 19, 51, 1);
  background: -moz-linear-gradient(45deg, rgba(11, 19, 51, 1) 0%, rgba(52, 82, 135, 1) 30%, rgba(102, 152, 199, 1) 54%, rgba(140, 203, 233, 1) 81%, rgba(142, 224, 247, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11, 19, 51, 1)), color-stop(30%, rgba(52, 82, 135, 1)), color-stop(54%, rgba(102, 152, 199, 1)), color-stop(81%, rgba(140, 203, 233, 1)), color-stop(100%, rgba(142, 224, 247, 1)));
  background: -webkit-linear-gradient(45deg, rgba(11, 19, 51, 1) 0%, rgba(52, 82, 135, 1) 30%, rgba(102, 152, 199, 1) 54%, rgba(140, 203, 233, 1) 81%, rgba(142, 224, 247, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(11, 19, 51, 1) 0%, rgba(52, 82, 135, 1) 30%, rgba(102, 152, 199, 1) 54%, rgba(140, 203, 233, 1) 81%, rgba(142, 224, 247, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(11, 19, 51, 1) 0%, rgba(52, 82, 135, 1) 30%, rgba(102, 152, 199, 1) 54%, rgba(140, 203, 233, 1) 81%, rgba(142, 224, 247, 1) 100%);
  background: linear-gradient(45deg, rgba(11, 19, 51, 1) 0%, rgba(52, 82, 135, 1) 30%, rgba(102, 152, 199, 1) 54%, rgba(140, 203, 233, 1) 81%, rgba(142, 224, 247, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0b1333', endColorstr='#8ee0f7', GradientType=1);
}

.gradiente-10 {
  background: rgba(11, 19, 48, 1);
  background: -moz-linear-gradient(45deg, rgba(11, 19, 48, 1) 0%, rgba(47, 77, 130, 1) 25%, rgba(93, 136, 189, 1) 50%, rgba(148, 214, 240, 1) 75%, rgba(141, 224, 247, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11, 19, 48, 1)), color-stop(25%, rgba(47, 77, 130, 1)), color-stop(50%, rgba(93, 136, 189, 1)), color-stop(75%, rgba(148, 214, 240, 1)), color-stop(100%, rgba(141, 224, 247, 1)));
  background: -webkit-linear-gradient(45deg, rgba(11, 19, 48, 1) 0%, rgba(47, 77, 130, 1) 25%, rgba(93, 136, 189, 1) 50%, rgba(148, 214, 240, 1) 75%, rgba(141, 224, 247, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(11, 19, 48, 1) 0%, rgba(47, 77, 130, 1) 25%, rgba(93, 136, 189, 1) 50%, rgba(148, 214, 240, 1) 75%, rgba(141, 224, 247, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(11, 19, 48, 1) 0%, rgba(47, 77, 130, 1) 25%, rgba(93, 136, 189, 1) 50%, rgba(148, 214, 240, 1) 75%, rgba(141, 224, 247, 1) 100%);
  background: linear-gradient(45deg, rgba(11, 19, 48, 1) 0%, rgba(47, 77, 130, 1) 25%, rgba(93, 136, 189, 1) 50%, rgba(148, 214, 240, 1) 75%, rgba(141, 224, 247, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0b1330', endColorstr='#8de0f7', GradientType=1);
}

.gradiente-11 {
  background: rgba(22, 27, 61, 1);
  background: -moz-linear-gradient(45deg, rgba(22, 27, 61, 1) 0%, rgba(45, 49, 94, 1) 25%, rgba(82, 80, 148, 1) 50%, rgba(96, 91, 173, 1) 75%, rgba(81, 73, 174, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(22, 27, 61, 1)), color-stop(25%, rgba(45, 49, 94, 1)), color-stop(50%, rgba(82, 80, 148, 1)), color-stop(75%, rgba(96, 91, 173, 1)), color-stop(100%, rgba(81, 73, 174, 1)));
  background: -webkit-linear-gradient(45deg, rgba(22, 27, 61, 1) 0%, rgba(45, 49, 94, 1) 25%, rgba(82, 80, 148, 1) 50%, rgba(96, 91, 173, 1) 75%, rgba(81, 73, 174, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(22, 27, 61, 1) 0%, rgba(45, 49, 94, 1) 25%, rgba(82, 80, 148, 1) 50%, rgba(96, 91, 173, 1) 75%, rgba(81, 73, 174, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(22, 27, 61, 1) 0%, rgba(45, 49, 94, 1) 25%, rgba(82, 80, 148, 1) 50%, rgba(96, 91, 173, 1) 75%, rgba(81, 73, 174, 1) 100%);
  background: linear-gradient(45deg, rgba(22, 27, 61, 1) 0%, rgba(45, 49, 94, 1) 25%, rgba(82, 80, 148, 1) 50%, rgba(96, 91, 173, 1) 75%, rgba(81, 73, 174, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#161b3d', endColorstr='#5149ae', GradientType=1);
}

.gradiente-12 {
  background: rgba(67, 173, 173, 1);
  background: -moz-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(63, 160, 171, 1) 25%, rgba(51, 129, 165, 1) 50%, rgba(43, 107, 162, 1) 75%, rgba(42, 106, 162, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67, 173, 173, 1)), color-stop(25%, rgba(63, 160, 171, 1)), color-stop(50%, rgba(51, 129, 165, 1)), color-stop(75%, rgba(43, 107, 162, 1)), color-stop(100%, rgba(42, 106, 162, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(63, 160, 171, 1) 25%, rgba(51, 129, 165, 1) 50%, rgba(43, 107, 162, 1) 75%, rgba(42, 106, 162, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(63, 160, 171, 1) 25%, rgba(51, 129, 165, 1) 50%, rgba(43, 107, 162, 1) 75%, rgba(42, 106, 162, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(67, 173, 173, 1) 0%, rgba(63, 160, 171, 1) 25%, rgba(51, 129, 165, 1) 50%, rgba(43, 107, 162, 1) 75%, rgba(42, 106, 162, 1) 100%);
  background: linear-gradient(135deg, rgba(67, 173, 173, 1) 0%, rgba(63, 160, 171, 1) 25%, rgba(51, 129, 165, 1) 50%, rgba(43, 107, 162, 1) 75%, rgba(42, 106, 162, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#43adad', endColorstr='#2a6aa2', GradientType=1);
}

.gradiente-13 {
  background: rgba(55, 34, 119, 1);
  background: -moz-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(55, 34, 119, 1)), color-stop(25%, rgba(106, 66, 154, 1)), color-stop(50%, rgba(110, 64, 140, 1)), color-stop(75%, rgba(143, 72, 173, 1)), color-stop(100%, rgba(133, 51, 160, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
  background: linear-gradient(135deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#372277', endColorstr='#8533a0', GradientType=1);
}

.gradiente-14 {
  background: rgba(60, 57, 118, 1);
  background: -moz-linear-gradient(45deg, rgba(60, 57, 118, 1) 0%, rgba(105, 105, 169, 1) 25%, rgba(120, 114, 180, 1) 50%, rgba(136, 104, 180, 1) 75%, rgba(125, 61, 159, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(60, 57, 118, 1)), color-stop(25%, rgba(105, 105, 169, 1)), color-stop(50%, rgba(120, 114, 180, 1)), color-stop(75%, rgba(136, 104, 180, 1)), color-stop(100%, rgba(125, 61, 159, 1)));
  background: -webkit-linear-gradient(45deg, rgba(60, 57, 118, 1) 0%, rgba(105, 105, 169, 1) 25%, rgba(120, 114, 180, 1) 50%, rgba(136, 104, 180, 1) 75%, rgba(125, 61, 159, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(60, 57, 118, 1) 0%, rgba(105, 105, 169, 1) 25%, rgba(120, 114, 180, 1) 50%, rgba(136, 104, 180, 1) 75%, rgba(125, 61, 159, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(60, 57, 118, 1) 0%, rgba(105, 105, 169, 1) 25%, rgba(120, 114, 180, 1) 50%, rgba(136, 104, 180, 1) 75%, rgba(125, 61, 159, 1) 100%);
  background: linear-gradient(45deg, rgba(60, 57, 118, 1) 0%, rgba(105, 105, 169, 1) 25%, rgba(120, 114, 180, 1) 50%, rgba(136, 104, 180, 1) 75%, rgba(125, 61, 159, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3c3976', endColorstr='#7d3d9f', GradientType=1);
}

.fondo-foto {
  background: url("../images/fondo-foto.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-1 {
  background: url("../images/fondo-foto-1.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-2 {
  background: url("../images/fondo-foto-2.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-3 {
  background: url("../images/fondo-foto-3.jpg") no-repeat center center;
  background-size: cover;
  position: relative;

  .dots {
    top: 56vh;
    left: 63.5vw;
  }

  .dots-2 {
    left: 83.5vw;
    top: 44vh;
  }
}

.fondo-foto-4 {
  background: url("../images/fondo-foto-4.jpg") no-repeat center center;
  background-size: cover;
  position: relative;

  .dots {
    top: 56vh;
    left: 27.4vw;
  }

  .dots-2 {
    top: 42vh;
    left: 4vw;
  }
}

.fondo-foto-5 {
  background: url("../images/fondo-foto-5.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-6 {
  background: url("../images/fondo-foto-6.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-7 {
  background: url("../images/fondo-foto-7.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-8 {
  background: url("../images/fondo-foto-8.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-9 {
  background: url("../images/fondo-foto-9.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-10 {
  background: url("../images/fondo-foto-10.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-foto-11 {
  background: url("../images/fondo-foto-11.jpg") no-repeat center center;
  background-size: cover;
}

.background-white {
  background: #fff;
}

.carousel-indicators li.numbers {
  display: inline-block;
  height: auto;
  width: auto;
  text-indent: unset;
  border: none;
  background: none;
  font-size: 25px;
  padding: 0 5px;
  cursor: pointer;
  border-right: 1px solid #fff;
  opacity: 0.7;
  border-radius: 0;

  &:last-of-type {
    border-right: none;
  }

  &.active {
    background: none;
    opacity: 1;
  }
}

.carousel-indicators.numbers {
  right: auto;
  bottom: 10vh;
  margin-right: auto;
  margin-left: 10%;

  &.bullets-center {
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }

  &.bullets-end {
    margin-left: auto;
    margin-right: 10%;
    right: 0;
    left: auto;
  }
}

.bg-wrapper {
  position: relative;
}

.bg-img {
  position: absolute;
  z-index: -1;

  &.bg-pos-rd {
    bottom: 0;
    right: 0;
  }

  &.bg-pos-rc {
    bottom: 0;
    top: 0;
    margin: auto 0;
    right: 0;
  }

  &.bg-pos-ru {
    top: 0;
    right: 0;
  }

  &.bg-pos-ld {
    bottom: 0;
    left: 0;
  }

  &.bg-pos-lc {
    bottom: 0;
    top: 0;
    margin: auto 0;
    left: 0;
  }

  &.bg-pos-lu {
    top: 0;
    left: 0;
  }

  &.bg-pos-cd {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &.bg-pos-cc {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &.bg-pos-cu {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.text-col-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

.text-col-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;
}

.text-col-4 {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
}

.section-card {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  color: #4a4a4a;
  padding: 18px 28px 22px;
  margin-bottom: 30px;
}

.section-card:nth-child(3) {
  opacity: 0.3;
}

.section-card:nth-child(4) {
  opacity: 0.1;
}

.section-card-title {
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 80px;
}

.section-card-header-title {
  font-family: 'AvenirLTStd-Heavy', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #000;
}

.section-card-header-date {
  width: 108.2px;
  height: 18px;
  opacity: 0.6;
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.section-card-content {
  opacity: 0.6;
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000;
}

.section-card-wrapper {
  max-width: 435px;
}

.partners-wrapper {
  padding: 90px 0;

  @media (max-width: 577px) {
    .container {
      //max-width: 620px;
      width: calc(100% - 50px);
    }
  }

  @media (min-width: 768px) {
    .container {
      //max-width: 800px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 1040px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1220px;
    }
  }

  a.slick-slide {
    padding: 0 40px;
  }
}

.section-content a,
a.a-btn,
li.a-btn > a {
  //padding: 10px 16px;
  padding: 5px 16px;
  border-radius: 17.5px;
  //border: solid 3px #c9a63d;
  border: solid 3px #fff;
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #fff;
  background: none;
}

.btn-white {
  padding: 12px 37px;
  border-radius: 30px;
  border: solid 4px #fff;
  font-family: 'AvenirLTStd-Book', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background: none;
}

button:focus,
input:focus {
  outline: 0 dotted;
  outline: 0 auto -webkit-focusring-color;
}

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.big-checkbox + label {
  padding: 18px;
}

.regular-checkbox + label {
  background-color: none;
  border: 3px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  margin: 0;
}

.regular-checkbox:checked + label {
  background-color: #0074e4;
  //border: 1px solid #adb8c0;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  //color: #99a1a7;
}

.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked + label::after {
  content: '';
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 3px;
  color: #0074e4;
}

.big-checkbox:checked + label::after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

.button-holder {
  float: left;
}

.wrap-animtacion-section {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.section-animation-r {
  position: absolute;
  top: calc(50% - 417px);
  right: -417px;
  width: 834px;
  height: 834px;
}

.section-animation-l {
  position: absolute;
  top: calc(50% - 340px);
  left: -18%;
  width: 680px;
  height: 680px;
}

.titulo-seccion {
  padding: 80px 0 0;
  //margin-bottom: -140px;
}

.mh-100vh,
.mh-lg-100vh,
.mh-md-100vh {
  padding: 20px 0;
  min-height: 100vh;
}

.mh-20vh {
  min-height: 20vh;
}

.mh-80vh {
  min-height: 80vh;
}

.mh-40vh {
  min-height: 40vh;
}

.mh-60vh {
  min-height: 60vh;
}

.maxh-100 {
  max-height: 100vh;
  width: auto;
}

.maxh-70 {
  max-height: 70vh;
  width: auto;
}

.conoce {
  background: rgba(112, 96, 172, 1);
}

.animation-h {
  max-height: 80vh;
}

ul.nav-seleccion {
  display: block;
  border-bottom: none;
  margin-top: 100px;

  li.nav-item > .nav-link {
    padding-left: 0;
    color: #fff;
    font-size: 18px;
    border: none;

    &:hover,
    &:focus {
      border: none;
    }
  }

  li.nav-item > .nav-link.active {
    background: none;
    border: none;
    color: #524f90;
    text-decoration: underline;
  }
}

.cards-transparent {
  background: rgba(255, 255, 255, 0.2);
  padding: 60px 50px 80px 50px;

  &.no-bg {
    background: transparent;
    padding: 0;
  }

  .inner-card {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 70vh;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      //display: none;
      background: url('../images/scroll.png') no-repeat top center;
      background-size: 1px 100%;
    }

    &::-webkit-scrollbar-track-piece {
      display: none;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #ccc;
    }
  }
}

.slider-centrado {
  margin-top: 85px;

  .slider-centrado-item {
    padding: 0 25px;

    > div {
      height: 45vh;
    }
  }

  .slick-dots {
    bottom: -60px;
  }

  .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 5px auto;
  }

  .slick-dots li.slick-active {
    > button {
      background: #fff;
    }
  }

  .slick-dots li button::before {
    color: transparent;
  }

  .slick-dots li.slick-active button::before {
    color: transparent;
    opacity: 0.75;
  }
}

.no-margin-img .section-img {
  margin: 0 -15px;
}

.wrapper-list-icon {
  margin-bottom: 30px;

  p {
    width: 100%;
    margin-left: 20px;
  }

  .image-left {
    width: 30%;
  }
}

.content-ppal .image-center-content {
  margin-bottom: -95px;
}

.float-caption {
  &.left-caption {
    margin-left: -15vw;
    padding: 50px 65px;
    box-shadow: 22px 19px 49px -15px #000;
    margin-top: 65px;
  }

  .caption-action {
    width: 165px;
    margin-left: 20px;
  }

  .caption-content {
    width: calc(100% - 125px);
  }

  .action-btn-caption {
    background: rgba(55, 34, 119, 1);
    background: -moz-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(55, 34, 119, 1)), color-stop(25%, rgba(106, 66, 154, 1)), color-stop(50%, rgba(110, 64, 140, 1)), color-stop(75%, rgba(143, 72, 173, 1)), color-stop(100%, rgba(133, 51, 160, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
    background: linear-gradient(135deg, rgba(55, 34, 119, 1) 0%, rgba(106, 66, 154, 1) 25%, rgba(110, 64, 140, 1) 50%, rgba(143, 72, 173, 1) 75%, rgba(133, 51, 160, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#372277', endColorstr='#8533a0', GradientType=1);
    border: none;
    padding: 10px 20px;
  }
}

.img-fluid-vertical {
  max-height: 60vh;
  width: auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  h1,
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 19px;
  }

  // h5 {
  //
  // }
  //
  // h6 {
  //
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 20px;
  }

  body.app {
    font-size: 13px;
  }

  p {
    margin-bottom: 20px;
  }

  #carousel-el-equipo h2,
  .titulo-subrayado {
    margin-bottom: 20px;
  }

  .btn-white {
    font-size: 14px;
  }

  .menu-wrapper {
    padding: 20px 0;
  }

  .partners-wrapper {
    padding: 70px 0;
  }

  .contenido-derecha img.img-fluid {
    max-width: 30px;
  }

  .wrapper-list-icon {
    margin-bottom: 15px;
  }
}

@include media-breakpoint-down(md) {
  .section-card-wrapper {
    max-width: 100%;
    margin-top: 50px;
  }

  .mh-lg-100vh {
    min-height: 0;
    padding: 30px 0;
  }
}

@include media-breakpoint-down(sm) {
  .mh-md-100vh {
    min-height: 0;
    padding: 30px 0;
  }

  .no-margin-img .section-img {
    margin: 0;
  }

  ul.nav-seleccion {
    margin-top: 15px;
  }

  .cards-transparent {
    padding: 25px 10px 30px 10px;
  }

  .tab-content .cards-transparent .inner-card {
    max-height: 40vh;
  }

  .slider-centrado .slider-centrado-item {
    padding: 0 5px;
  }

  .text-col-2,
  .text-col-3 {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .img-fluid-vertical {
    max-height: 20vh;
  }

  .content-ppal .image-center-content {
    margin-bottom: 0;
  }

  .float-caption.left-caption {
    display: none !important;
  }

  h1,
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 15px;
  }

  body.app {
    font-size: 12px;
  }

  .accordion-Sweet .card .card-header button.btn.btn-link,
  .accordion-Sweet .card .card-header .search-form button.btn-link.search-submit,
  .search-form .accordion-Sweet .card .card-header button.btn-link.search-submit {
    font-size: 12px;
  }

  .accordion-Sweet .card .card-body {
    padding: 20px 30px;
  }

  .accordion-Sweet .card .card-header {
    padding: 15px 0;
  }
}

@include media-breakpoint-down(xs) {
  body,
  .section-content a,
  a.a-btn,
  li.a-btn > a,
  .section-card-header-title,
  .section-card-content,
  .btn-white {
    font-size: 11px;
  }

  h1,
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 15px;
  }

  .section-card-title {
    font-size: 17px;
    margin-bottom: 50px;
  }

  body.app {
    font-size: 11px;
  }
}
